[user]
	name = Bruno Vieira
	email = bruno.vieira97@outlook.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFsvX5PdahAMlXjG68M3yyKOvQoQndjgHJ3lUyjnWgdS

[core]
	editor = code --wait

[commit]
	gpgsign = true

[gpg]
  format = ssh

[gpg "ssh"]
  allowedSignersFile = ~/.ssh/allowed_signers
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[init]
	defaultBranch = main

[pager]
	branch = false

[pull]
	rebase = false

[push]
	autoSetupRemote = true

[diff]
	tool = vscode

[difftool]
	prompt = false

[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE

[merge]
	tool = vscode

[mergetool "vscode"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

[alias]
	# Log variation with branch graph and formatted output:
	#	SHA-1 - Commit description (user-friendly date) <author name>
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	
	# Blame-like log for a specific file or folder.
	file-log = log -p -M --follow --stat --

	# List commit authors ordered by their number of commits
	#	Commits, author name
	rank = shortlog -sn --no-merges

	# Remove all branches that have been merged.
	rm-merged-branches = "!git branch --merged | grep -v '*' | xargs -n 1 git branch -d"

	# Open .gitconfig user file on default editor.
	conf = config --global -e

	# Resets the previous commit, keeping all changes in the working tree.
	undo = reset HEAD~1 --mixed

	# Modify the latest commit
	# Adds any modifications and deletions of existing files
	# Ignores new untracked files
	# Opens default commit editor for message editing
	amend = commit -a --amend

	# Undoes all current changes and goes back to the last commit.
	# For restoration purposes, the current changes aren't just discarded:
	#	An unreachable commit is made, thus allowing it to be restored via reflog operations.
	wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
